$simple-theme-link-color: dark-light-choose(#6644aa, #ff7597);
$simple-theme-visited-link-color: dark-light-choose(#b15985, #d8dee9);

:root {
  --simple-theme-link-color: #{$simple-theme-link-color};
  --simple-theme-visited-link-color: #{$simple-theme-visited-link-color};
}