$simple-theme-link-color: dark-light-choose(#ff7597, #6644aa);
$simple-theme-visited-link-color: dark-light-choose(#d8dee9, #b15985);

:root {
  --simple-theme-link-color: #{$simple-theme-link-color};
  --simple-theme-visited-link-color: #{$simple-theme-visited-link-color};
}