.topic-list {
  tbody {
    border: none;
  }

  .topic-list-header .topic-list-data {
    color: var(--primary);
    background-color: var(--primary-very-low);
  }

  .main-link {
    width: auto;
  }
  .posts {
    width: auto;
  }
  .views {
    display: none;
  }
  .activity {
    display: none;
  }
  .posters {
    display: none;
  }
  .last-post {
    width: 10em;

    &__contents {
      display: flex;
      gap: 0.25em 0.75em;
      align-items: center;
      height: 100%;
    }

    .relative-date {
      color: var(--primary-high);
    }

    .poster-info {
      display: flex;
      flex-direction: column;
      min-width: 0;
      align-self: baseline;
    }

    .editor {
      font-size: var(--font-down-1);
      min-width: 0;
      @include ellipsis;

      a {
        color: var(--primary-medium);
      }
    }
  }

  .topic-list-item {
    .link-bottom-line {
      .excerpt {
        margin: 0;
      }
      .excerpt__contents {
        font-size: var(--font-down-1);
        max-width: unset;
      }
    }

    .topic-list-data {
      a.title:not(.badge-notification) {
        color: var(--simple-theme-link-color);
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &:not(.visited) {
      .excerpt__contents {
        color: var(--primary-high);
      }
    }

    &.visited {
      .topic-list-data a.title:not(.badge-notification) {
        color: var(--simple-theme-visited-link-color);
      }
    }
  }

  .main-link a.title {
    line-height: var(--line-height-medium);
    padding: 0;
    margin-top: 0.15em;
  }

  .num.posts-map {
    width: 6.5em;
  }

  .discourse-tags {
    align-self: end;
    .discourse-tag {
      color: var(--primary-medium);
    }
  }

  .topic-statuses {
    line-height: 1.5;
  }

  .link-bottom-line {
    font-size: var(--font-down-2);
    margin-top: 0.25em;
    gap: 0 0.5em;
  }

  .op-data {
    display: flex;
    font-size: var(--font-down-1);
    align-self: baseline;
    gap: 0.25em 0.5em;
    a {
      color: var(--primary-medium);
    }
  }

  .badge-notification {
    padding: 0.2em 0.45em 0.3em;
  }
}

/* topic page */

nav.post-controls .actions .double-button button.has-like .d-icon {
  color: var(--simple-theme-link-color);
}

img.avatar {
  border-radius: 0.2em;
}

#suggested-topics td.main-link {
  width: 31em;
}

/* custom tarck */

.emoji[title=":tarckbear:"] {
  width: 65px;
  height: 65px;
}

.emoji[title=":smilegrant:"] {
  width: 97px;
  height: 100px;
}

button {
  border-radius: 3px;
}

.topic-list td.posters img {
  visibility: hidden;
}

th.posters {
  visibility: hidden;
}

.d-header #site-logo {
  height: 4em;
  margin-top: -0.4em;
}

/* =============== Tarck Header Menu CSS ================= */

/* The outermost wrapper */
#tarck-navbar {
  z-index: 1040;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* is there a better way to detect PM pages and Topic pages from CSS? */
body[class*="archetype-"] #tarck-navbar {
  position: absolute;
}

/* This inner wrapper makes sure the nav bar respects your forum's max width */
span#tarck-top-links {
  display: block !important;
  margin: 5px auto 0 auto;
  max-width: 1110px;
}

/* The list of links itself */
.tarck-nav-link-container li {
  display: inline-block;
  float: left;
}

/* <a> tags are links, while the <b> tag is the current page */
.tarck-nav-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.tarck-nav-link-container a,
.tarck-nav-link-container b {
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 48px;
  padding: 1em 1.25em;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.tarck-nav-link-container a:hover,
.tarck-nav-link-container a:active,
.tarck-nav-link-container a:focus {
  background: #ed9fcd;
  color: #fff;
}

/* small-screen mode */
@media screen and (max-width: 1024px) {
  /* the .js makes sure that "small-screen-mode" overrides "big-screen-mode */
  .js div#tarck-navbar {
    position: static;
    margin-top: -1em;
    margin-bottom: 1em;
  }

  .tarck-nav-link-container {
    position: static;
    margin-left: 0;
  }

  .tarck-nav-link-container a,
  .tarck-nav-link-container b {
    color: #ed9fcd;
  }
}

.topic-meta-data .names .first {
  order: 0;
}
